body{ 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    padding-top: 90px;
}

#app{
    flex: 1;
}

div{
    flex: 1;
}

#titulo{
    font-size: 50px;
    font-weight: bold;
}
